apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
  labels:
    app.kubernetes.io/name: linkding
    app.kubernetes.io/component: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: linkding
  template:
    metadata:
      labels:
        app.kubernetes.io/name: linkding
        app.kubernetes.io/component: app
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
        - name: linkding
          image: sissbruecker/linkding:latest
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          ports:
            - containerPort: 9090
              # protocol: TCP
          # env:
          #   - name: LD_DATA_DIRECTORY
          #     value: /etc/linkding/data
          #   - name: LD_CONTEXT_PATH
          #     value: /
          #   - name: LD_CSRF_TRUSTED_ORIGINS
          #     value: localhost:8888,localhost:9090
          #   - name: TZ
          #     value: UTC
          #   - name: LD_ENABLE_BACKGROUND_TASKS
          #     value: "true"
          #   - name: LD_REQUEST_TIMEOUT
          #     value: "30"
          #   - name: LD_DISABLE_AUTHENTICATION
          #     value: "false"
          #   - name: LD_DISABLE_REGISTRATION
          #     value: "false"
          #   - name: LD_BOOKMARK_PERMISSION_MODEL
          #     value: "read_only"
          #   - name: LD_ALLOW_REGISTRATION
          #     value: "true"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              memory: 256Mi
          volumeMounts:
            - name: linkding-data
              mountPath: /etc/linkding/data
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-pvc
